/*
 * This file has been created by the Vaadin Theme Editor. Please note that
 * manual changes to individual CSS properties may be overwritten by the theme editor.
 */
vaadin-app-layout.main-layout-app-layout-1::part(navbar) { background-color:rgba(35,51,72); }

vaadin-button.main-layout-button-1 {
  --lumo-button-size:var(--lumo-size-xs);
  border-radius:var(--lumo-border-radius-m);
  border-width:0px;
  padding-inline:var(--lumo-space-l);
}

vaadin-button.main-layout-button-1::part(label) {
  color:rgba(255,13,0,1);
  font-size:var(--lumo-font-size-xs);
  font-weight:bold;
}

vaadin-vertical-layout { gap:var(--lumo-space-xs); }
