/*
 * This file has been created by the Vaadin Theme Editor. Please note that
 * manual changes to individual CSS properties may be overwritten by the theme editor.
 */
body { font-size:var(--lumo-font-size-s); }

h1.main-layout-h1-1 {

}
.compact-grid {
  max-height: 300px;
  overflow-y: auto;
}

.compact-grid .vaadin-grid {
  font-size: 0.8rem;
}

.compact-grid .vaadin-grid-cell {
  padding: 2px 4px;
  min-height: 25px;
}

.line-header {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}


vaadin-button.main-layout-button-1 {
  --lumo-button-size:var(--lumo-size-m);
  border-radius:var(--lumo-border-radius-m);
  border:1px solid gainsboro;
  padding-inline:var(--lumo-space-l);
}

vaadin-button.main-layout-button-1::part(label) {
  color:rgb(231,34,34);
  font-size:var(--lumo-font-size-m);
  font-weight:normal;
}

:host(.work-time-grid) [part~="cell header-cell last-column-cell first-header-row-cell last-header-row-cell"] {
  height: 60px;
  min-height: 60px;
  max-height: 60px;
}

vaadin-grid.work-time-grid::part(administrat) {
  padding: 0px;
  background-color:rgba(138,43,226,0.24);
  border-bottom:1px solid rgba(0,0,0,0.27);
  border-top:1px solid rgba(0,0,0,0.27);
  align-items: center;
}
vaadin-grid.work-time-grid::part(pererabotka) {
  padding: 0px;
  background-color: rgba(255, 167, 0, 0.67);
  border-bottom:1px solid rgba(0,0,0,0.27);
  border-top:1px solid rgba(0,0,0,0.27);
  align-items: center;
}

vaadin-grid.work-time-grid::part(bol) {
  padding: 0px;
  background-color:rgba(255,0,0,0.34);
  border-bottom:1px solid rgba(0,0,0,0.27);
  border-top:1px solid rgba(0,0,0,0.27);
  align-items: center;
}

vaadin-grid.work-time-grid::part(font-weight-bold) { font-weight:bold; }

vaadin-grid.work-time-grid::part(nothing) {
  padding: 0px;
  background-color:rgba(77,44,112,0.11);
  border-bottom:1px solid rgba(0,0,0,0.27);
  border-top:1px solid rgba(0,0,0,0.27);
  align-items: center;
}

vaadin-grid.work-time-grid::part(otpusk) {
  padding: 0px;
  background-color:rgba(0,255,7,0.34);
  border-bottom:1px solid rgba(0,0,0,0.27);
  border-top:1px solid rgba(0,0,0,0.27);
  align-items: center;
}

vaadin-grid.work-time-grid::part(otrabotka) {
  padding: 0px;
  background-color:rgba(85,163,210,0.24);
  border-bottom:1px solid rgba(0,0,0,0.27);
  border-top:1px solid rgba(0,0,0,0.27);
  align-items: center;
}
vaadin-grid.work-time-grid::part(cell.content) {
  padding: 0px;
  align-items: center;
}
vaadin-grid.work-time-grid::part(work) {
  padding: 0px;
  background-color:rgba(255,255,255,0);
  border-bottom:1px solid rgba(0,0,0,0.27);
  border-top:1px solid rgba(0,0,0,0.27);
}

vaadin-grid::part(font-weight-bold) { font-weight:bold; }

vaadin-integer-field::part(clear-button) { color:rgba(255,255,255,0); }

vaadin-integer-field::part(decrease-button) {
  color:rgba(0,0,0,1);
  font-size:15px;
}

vaadin-integer-field::part(helper-text) { font-size:var(--lumo-font-size-xxs); }

vaadin-integer-field::part(increase-button) {
  color:rgba(0,0,0,1);
  font-size:15px;
}

vaadin-integer-field::part(input-field) {
  background-color:rgba(255,255,255,0);
  border-color:rgba(255,255,255,0);
  border-radius:0;
  border-width:0px;
  font-size:17px;
  height:var(--lumo-size-m);
  padding-inline:var(--lumo-space-xs);
}

vaadin-integer-field::part(label) { font-size:var(--lumo-font-size-xxs); }

vaadin-login-form [slot="forgot-password"] {
  color:rgba(0,0,0,0.53);
  font-size:medium;
  font-weight:bold;
}

vaadin-login-form-wrapper::part(form) {
  background-blend-mode:screen;
  background-image:linear-gradient(rgb(255, 255, 255), rgb(60, 121, 197)),url(rm309-aew-001.jpg);
  background-position-x:center;
  background-repeat:no-repeat;
  background-size:165%;
  block-size:auto;
  border-radius:0% 0% 0% 0%;
}

vaadin-login-overlay-wrapper::part(backdrop) { background-color:rgba(0,0,0,0.07); }

vaadin-login-overlay-wrapper::part(brand) {
  background-blend-mode: screen;
  background-image: linear-gradient(rgb(60, 121, 197), rgba(255, 255, 255, 0.34)),url(logoBAPP.png);
  background-repeat:no-repeat;
  background-size:120%;
  border-radius:0% 0% 0% 0%;
}

vaadin-login-overlay-wrapper::part(title) { color:rgba(0,0,0,0.53); }

vaadin-vertical-layout { gap:var(--lumo-space-xs); }
