.repoGrid::part(cell) {
    border: 1px solid #050f55;
    box-sizing: border-box;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.repoGrid::part(cell).first-column-cell {
    background-color: #003366;
    color: white;
}

.repoGrid::part(header-cell):first-child {
    background-color: #003366;
    color: white;
}

.repoGrid::part(row).first-row {
    background-color: #003366;
    color: white;
}
.yellow-button {
    background-color: rgb(255 255 0 / 70%);
    color: black;
}
.red-button {
    background-color: rgba(255, 0, 0, 0.58);
    color: black;
}
.green-button {
    background-color: rgba(48, 217, 40, 0.63);
    color: black;
}
.badge.success {
    color: green;
    background: #d4edda;
}
.badge.error {
    color: red;
    background: #f8d7da;
}
.part-range-cell {
    display: block;
    width: 100%;
    height: 100%;
    background: rgba(0, 20, 255, 0.46); /* или любой нужный цвет */
    min-height: 24px;    /* для видимости */
    min-width: 24px;
    border-radius: 4px;
}
