.repoGrid::part(cell) {
    border: 1px solid #050f55;
    box-sizing: border-box;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.repoGrid::part(cell).first-column-cell {
    background-color: #003366;
    color: white;
}

.repoGrid::part(header-cell):first-child {
    background-color: #003366;
    color: white;
}

.repoGrid::part(row).first-row {
    background-color: #003366;
    color: white;
}
.yellow-button {
    background-color: rgb(255 255 0 / 70%);
    color: black;
}
.red-button {
    background-color: rgb(255 0 0 / 70%);
    color: black;
}
.green-button {
    background-color: rgb(48 217 40 / 70%);
    color: black;
}